services:
  backend:
    build: ./backend
    volumes:
      - ./backend:/var/www
    env_file:
      - ./backend/.env

  frontend:
    build: ./frontend

  nginx:
    image: nginx:alpine
    ports:
      - "8050:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro
    depends_on:
      - backend
      - frontend

volumes:
  sqlite:
