@import "tailwindcss";

/* Custom Global Styles */
body {
    font-family: 'Inter', sans-serif;
    @apply bg-slate-50 dark:bg-slate-900 text-slate-800 dark:text-slate-200 transition-colors duration-300;
}
